<h3>NetSec Intrusion Alert</h3>
<table>
    <thead>
    </thead>
    <tbody>
    {% for alert in alerts %}
    <tr>
        <th>Category</th>
        <th>Value</th>
    </tr>
    {% for key, value in alert.items() %}
    <tr>
        <td style="text-align:left"> <b>{{ key }}</b></td>
        <td style="text-align:right"> {{ value }}</td>
    </tr>
    {% endfor %}
    <br>
    {% endfor %}
    </tbody>
</table>
<br>
<div style="font-family:'Helvetica Neue';font-size:12px;line-height:20px;margin-bottom:10px;color:#444444;line-height:20px;padding:16px 16px 16px 16px;text-align:center;">
    <br><b>Source code:</b> <a href="https://github.com/thevickypedia/JarvisMonitor" target="_bottom">https://github.com/thevickypedia/NetSec</a>
    <br><b>Reach out:</b> <a href="https://vigneshrao.com/contact" target="_bottom">https://vigneshrao.com/contact</a>
</div>
